/* Two pixel-style fonts are used for this website */
@font-face {
    font-family: 'Gothic Pixel';
    src: url(../fonts/gothic-pixel-font.ttf) format('truetype');
}

@font-face {
    font-family: 'Low Gothic';
    src: url(../fonts/low-gothic.ttf) format('truetype');
}

/* border-box is better than default content-box for precise arrangement of divs, semantic elements, etc */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Low Gothic';
}

/* Flex on the body is applied to all the elements below */
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    background-color: #525561;
}

/* The keeps the name of the game, Exorcist Priest, centered at the top of the page on the 404 page and main menu */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #525561;
}

header h1 {
    letter-spacing: 12px;
    line-height: 150%;
    margin-top: 30px;
    color: white;
    font-family: 'Gothic Pixel';
    text-transform: uppercase;
    font-size: 120%;
    text-align: center;
}

/* The flex options on the main element keeps the footer at the bottom of the webpage */
main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* This pertains to dialogue of the priest player character throughout the game */
#dialogue-box {
    display: none;
    border: double 10px #525561;
    padding: 4px;
    max-width: 300px;
    align-self: center;
    justify-content: center;
    color: white;
    background-color: #9BADB7;
}

#dialogue {
    display: none;

}

/* This styling applies to the gleaming cross on the main menu */
#intro-animation-box {
    display: block;
    max-width: 256px;
    max-height: 256px;
    overflow: hidden;
    position: relative;
    margin: 1rem auto;
}

/* overall width of cross spritesheet, and animation styling which features the 'intro-spritesheet' keyframe 
Animation programming based on video by Drew Conley - "Spritesheet animation tutorial with HTML and CSS" - 
https://www.youtube.com/watch?v=ekI7vjkFrGA*/
#intro-animation-display {
    animation: intro-spritesheet 3s steps(30) infinite;
    width: 7680px;
}

/* sprite sheet starts at the start, and moves it to the right in 30 equal steps over three seconds, as per the animation
property set out above */
@keyframes intro-spritesheet {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}

/* pertains to box that pops up upon pressing How to Play button on main menu */
#rules-box {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    background-color: #9BADB7;
    max-width: 300px;
    position: relative;
    border: double 10px #525561;
}

#rules-box h2 {
    margin-bottom: 1rem;
}

#rules-box p {
    font-family: 'Low Gothic';
    font-size: 110%;
    padding: 5px;
}

/* pertains to nav element at bottom of main menu */
nav {
    align-items: center;
    align-self: center;
    justify-content: center;
    position: relative;
}

#opening-menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 400px;
    background-color: #525561;
}

#opening-menu-bar button {
    padding: 10px;
    margin: 10px;
    font-family: 'Low Gothic';
}

footer {
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #9BADB7;
}

/* social media link icon  */
footer a i {
    color: black;
}

/* div container for intro animation sequence */
#intro-cinematic-box {
    display: none;
    width: 256px;
    height: 450x;
    overflow: hidden;
    position: relative;
    z-index: 20;
    margin: 1rem auto;
}

/* img containing animated spritesheet */
#intro-cinematic-display {
    animation: intro-driving-spritesheet 5.3s steps(53) normal;
    width: 17152px;
    image-rendering: pixelated;
}

@keyframes intro-driving-spritesheet {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-13568px, 0, 0)
    }
}

/* keyframe for intro animation is changed by script.js */
@keyframes main-driving {
    from {
        transform: translate3d(-8704px, 0, 0)
    }

    to {
        transform: translate3d(-13568px, 0, 0)
    }
}

@keyframes driving-outro {
    from {
        transform: translate3d(-13568px, 0, 0)
    }

    to {
        transform: translate3d(-17152px, 0, 0)
    }
}

/* div container for proceed button */
#proceed-button-box {
    display: none;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding: 5px;
}

#proceed-button {
    padding: 10px;
    border: double 10px #525561;
    min-width: 200px;
    align-self: center;
    justify-content: center;
    color: white;
    background-color: #9BADB7
}

/* div container for enemy animation spritesheets and animations */
#enemy-animation-box {
    display: none;
    background-color: red;
    max-width: 256px;
    max-height: 256px;
    overflow: hidden;
    margin: 1rem auto;
}

#enemy-animation-display {
    animation: cat-intro 0.4s steps(4) infinite;
    width: 11264px;
}

/* styling for div container that holds dialogue that occurs during typing rounds */
#fight-dialogue-box {
    display: none;
    border: double 10px #525561;
    padding: 4px;
    max-width: 300px;
    align-self: center;
    justify-content: center;
    color: white;
    background-color: #9BADB7;
}

#fight-dialogue {
    display: none;
}

/* keyframes for first typing round */
@keyframes cat-intro {
    from {
        transform: translate3d(-1536px, 0, 0)
    }

    to {
        transform: translate3d(-2560px, 0, 0)
    }
}

@keyframes cat-fight {
    from {
        transform: translate3d(-2816px, 0, 0)
    }

    to {
        transform: translate3d(-4608px, 0, 0)
    }
}

@keyframes cat-defeat {
    from {
        transform: translate3d(-4864px, 0, 0)
    }

    to {
        transform: translate3d(-11264px, 0, 0)
    }
}

/* div container for area where prayers to be typed are displayed */
#prayer-display-box {
    display: none;
    border: double 10px #525561;
    padding: 4px;
    max-width: 300px;
    text-align: center;
    align-self: center;
    justify-content: center;
    color: white;
    background-color: #9BADB7;
}

#prayer-display-area {
    display: none;
}

/* div container that holds player typing input area */
#player-input-box {
    display: none;
    border: double 10px #525561;
    padding: 4px;
    max-width: 300px;
    align-self: center;
    justify-content: center;
    color: white;
    background-color: #9BADB7
}

#player-input-area {
    display: none;
    padding: 5px;
    align-self: center;
    text-align: center;
    color: black;
    background-color: white;
}

/* replaces the default red/orange focus outline in line with overal colour scheme of the website*/
#player-input-area:focus {
    outline-color: #525561;
}

/* replaces the default red/orange focus outline in line with overal colour scheme of the website*/
#proceed-button:focus {
    outline-color: #525561;
}

/* replaces the default red/orange focus outline in line with overal colour scheme of the website*/
#outro-proceed-button:focus {
    outline-color: #525561;
}

/* spans within the prayer display area will be assigned the .correct class if the player has correctly typed in the player input area */
.correct {
    color: green;
}

/* spans within the prayer display area will be assigned the .incorrect class if the player has incorrectly typed in the player input area */
.incorrect {
    color: red;
    text-decoration: underline;
}

/* keyframes for typing round two */
@keyframes skeleton-intro {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-1792px, 0, 0)
    }
}

@keyframes skeleton-fight {
    from {
        transform: translate3d(-1536px, 0, 0)
    }

    to {
        transform: translate3d(-1792px, 0, 0)
    }
}

@keyframes skeleton-defeat {
    from {
        transform: translate3d(-2560px, 0, 0)
    }

    to {
        transform: translate3d(-5376px, 0, 0)
    }
}

/* keyframes for third typing round */
@keyframes girl-intro {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-1792px, 0, 0)
    }
}

@keyframes girl-fight {
    from {
        transform: translate3d(-1536px, 0, 0)
    }

    to {
        transform: translate3d(-2560px, 0, 0)
    }
}

@keyframes girl-defeat {
    from {
        transform: translate3d(-3072px, 0, 0)
    }

    to {
        transform: translate3d(-8704px, 0, 0)
    }
}

/* div container for outro spritesheet, dialogue and animations */
#outro-cinematic-box {
    display: none;
    width: 350px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 1rem auto;
}

#outro-dialogue-box {
    display: none;
    border: double 10px #525561;
    padding: 4px;
    align-self: center;
    justify-content: center;
    color: white;
    background-color: #9BADB7;
}

#outro-dialogue {
    display: none;
    text-align: center;
}

#outro-cinematic-display {
    image-rendering: pixelated;
}

#outro-proceed-button-box {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

#outro-proceed-button {
    padding: 10px;
    border: double 10px #525561;
    min-width: 200px;
    align-self: center;
    justify-content: flex-start;
    color: white;
    background-color: #9BADB7
}

/* keyframe for final outro animation */
@keyframes tea-ending {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}

/* div container for timer element */
#timer-box {
    display: none;
}

#timer {
    display: none;
    border: double 10px #525561;
    padding: 4px;
    max-width: 200px;
    align-self: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #9BADB7;
}

#timer button {
    display: block;
    padding: 4px;
    align-self: center;
    justify-content: center;
    color: white;
    background-color: #9BADB7;
}


/* styling for elements on 404 error page */
#error-h2 {
    font-family: 'Low Gothic';
    text-align: center;
    color: white;
    letter-spacing: 5px;
    max-width: 300px;
    margin-bottom: 1rem;
}

#error-display {
    align-self: center;
    margin-bottom: 1rem;
    
}

#error-h3 {
    font-family: 'Low Gothic';
    text-align: center;
    color: white;
    letter-spacing: 5px;
    max-width: 300px;
    margin-bottom: 1rem;
}

#error-box {
    display: block;
    border: double 10px #525561;
    padding: 4px;
    max-width: 300px;
    align-self: center;
    justify-content: center;
    color: white;
    background-color: #9BADB7;
}


#error-button {
    font-family: 'Low Gothic';
    text-decoration: none;
    color: #525561;
    background-color: #9BADB7;
}

/*Responsive design styling below - on larger screens, the landing page/main menu 
animation is suitably larger */
@media screen and (min-width: 768px) {

    #intro-animation-box {
        max-width: 512px;
        max-height: 512px;
        display: block;
        overflow: hidden;
        position: relative;
        margin: 1rem auto;
    }

    #intro-animation-display {
        width: 15360px;
        height: 512px;
        image-rendering: pixelated;

    }

    #error-display {
        height: 150%;
        width: 150%;
        image-rendering: pixelated;
        align-self: center;
        margin-bottom: 1rem;
        
    }
}